/* 슬라이드 */
.content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.Images {
  display: flex;
}

.slideImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slideImage img {
  border: 1px solid black;
  width: 180px;
  height: 310px;
  object-fit: cover;
}

.mainImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainImage img {
  border: 1px solid black;
  width: 320px;
  height: 200px;
  object-fit: cover;
}

.stduyImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stduyImage img {
  border: 1px solid black;
  width: 220px;
  height: 300px;
  object-fit: cover;
}

.newsImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newsImage img {
  border: 1px solid black;
  width: 300px;
  height: 180px;
  object-fit: cover;
}

.file {
  font-size: 16px;
  margin: 20px;
}

.input {
  width: 400px;
  /* margin-top: 20px; */
  font-size: 24px;
}

.title {
  width: 220px;
  font-size: 16px;
}

textarea {
  font-size: 18px;
  margin-top: 12px;
  width: 220px;
  height: 280px;
}

.text {
  display: flex;
}

button {
  width: 300px;
  font-size: 30px;
  margin-bottom: 20px;
}
