/* 슬라이드 */
.content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.Images {
  display: flex;
}

.campaignImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.campaignImage img {
  border: 1px solid black;
  width: 360px;
  height: 180px;
  object-fit: cover;
}

.newsImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.newsImage img {
  border: 1px solid black;
  width: 300px;
  height: 180px;
  object-fit: cover;
}

.file {
  font-size: 16px;
  margin: 20px;
}

.supprottextarea {
  font-size: 18px;
  margin-top: 12px;
  width: 420px;
  height: 200px;
}

.text {
  display: flex;
}

button {
  width: 300px;
  font-size: 30px;
  margin-bottom: 20px;
}

.area {
  position: relative; /* absolute는 부모가 relative일 때 부모를 따라간다. */
  width: 500px;
  padding-bottom: 56.25%; /* 16:9 비율 */
  margin-left: 8%;
  margin: 18px;
  margin-bottom: 18px;
}

.video {
  position: absolute;
  width: 100%; /* 부모에 맞게 꽉 채운다. */
  height: 100%;
}
